{% extends 'base.html' %}
{% load staticfiles %}


{% block title %}
  <title>Lights</title>
{% endblock %}

{% block content %}
<table id="lightTable">
  <thead>
    <tr>
      <th>Device</th>
      <th>Detector</th>
      <th>Traffic Amount</th>
    </tr>
  </thead>
  <tbody>
    {%for o in objects%}
    <tr>
      <td>{{o.device}}</td>
      <td>{{o.detector}}</td>
      <td>{{o.traffic_amount}}</td>
    </tr>
    {%endfor%}
  </tbody>
</table>

<form action="/base/" method="get" id="testi">
 <input type="submit" class="button" id="button1" value="Lataa JSON-API" name="dlAPI">
</form>

<form action="/base/" method="get" id="testi">
 <input type="submit" class="button2" id="button2" value="Lataa liikenteen määrä" name="amountBtn">
</form>

<form action="/base/" method="post" id="testi">
  {% csrf_token %}
 <input type="submit" class="button" id="button3" value="Tyhjennä taulu" name="mybtn">
</form>


<script type="text/javascript" src="{% static 'first_app/button.js' %}"></script>

{% endblock %}
