{% extends 'base.html' %}
{% load staticfiles %}


{% block title %}
  <title>Lights</title>
{% endblock %}

{% block content %}
<div>
  <h2> JSON-data: </h2>
  <br>
  <p> {{ results }} </p>
  <br>
  <p> {{ text }} </p>
</div>

<form action="/base/" method="get" id="testi">
 <input type="submit" class="button" id="button" value="Lataa JSON-API" name="dlAPI">
</form>

<form action="/base/" method="post" id="testi">
  {% csrf_token %}
 <input type="submit" class="button" id="button" value="Tyhjennä taulu" name="mybtn">
</form>

<script type="text/javascript" src="{% static 'first_app/button.js' %}"></script>

{% endblock %}
